body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-image {
    background-image: url('bg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    text-align: center;
}

.navbar-custom {
    background-color: #191970;
    width: 100%;
}

.container {
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #FF7F11;
}

p {
    color: #ffd5c2;
}

.about-container {
    background-color: #03254E;
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}