body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-image {
    /* Set background image */
    background-image: url('bg.png');
    /* Replace 'path/to/your/image.jpg' with the path to your image */
    /* Set background image size */
    background-size: cover;
    /* Cover the entire viewport */
    /* Center the background image */
    background-position: center;
    /* Fix the background image to prevent scrolling */
    background-attachment: fixed;
    /* Styles for content within the body */
    color: white;
    text-align: center;
    /* padding: 20px; */
}

.navbar-custom {
    background-color: #191970;
    width: 100%;
    /* Make the navbar full width */
}

.container {
    text-align: justify;
    /* Justify the text in the container */
    max-width: 800px;
    /* Set maximum width for content */
    margin: 0 auto;
    /* Center the container horizontally */
    padding: 20px;
}

form {
    width: 100%;
    /* Set the form width to 100% */
    max-width: 400px;
    /* Set maximum width for the form */
    margin: 0 auto;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    /* Add margin between form groups */
}

form label {
    font-size: 1.2rem;
    margin-top: 10px;
}

form input,
form button {
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    /* Set input and button width to 100% */
}

form button {
    margin-top: 15px;
    /* Add margin between button and input */
    background-color: #1658aa;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

form button:hover {
    opacity: 0.8;
}

.row.justify-content-center {
    margin-top: 50px;
    /* Adjust margin as needed */
}

.candidates-details {
    background-color: #03254E;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

h1 {
    text-align: center;
}