body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.row.justify-content-center {
    margin-top: 50px;
}


/* Style for each sign-in option */

.signin-option {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

.signin-option+.signin-option {
    margin-left: 20px;
}

.admin-signin {
    background-color: #03254E;
}

.voter-signin {
    background-color: #03254E;
}

.background-image {
    background-image: url('bg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    text-align: center;
}

.navbar-custom {
    background-color: #191970;
    width: 100%;
}

.container {
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}